.dateTimeStyling {
  display: flex;
  gap: 10px;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  background: rgb(253, 214, 214);
  color: rgb(255, 127, 68);
}
